

.rodape {
    bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 15px 0;
      font-size: 14px;
}
.nav-item{
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  color: rgb(245, 200, 200);
}
.nav-item-reutilizar{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgb(245, 200, 200);
}

.nav-link {
  border-radius: 10px;  
}

.tamanho {
  width: 20;
}
.navbar-brand{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
   margin-right: 100px;


}

.boton{
  background-color: #D3A95B;
  color: rgb(255, 251, 251);
  border-radius: 10px;
  padding: 10px 10px;
}

.display-4{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  color: #A7B075;
  text-align: center;
  margin-top: 5px;
}

.display-5{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  color: #D3A95B;
  text-align: center;
  margin-top: 5px;
}

.link{
 color:aliceblue;
 background-color: #D3A95B;;
border-radius: 5px;
padding: 3px;

}

.logo {
  top: 15;           /* Topo da página */
  left: 220px;          /* Esquerda da página */
  width: 60px;     /* Ajuste o tamanho conforme necessário */
  height: 60px;     /* Mantém a proporção */
  z-index: 1000;    /* Garante que fique acima de outros elementos */
}

.botaologin{
  background-color: #D3A95B;
  color: rgb(255, 251, 251);
  border-radius: 10px;
  padding: 8px 8px;
}

.botao-adicionar {
  background-color: #D3A95B;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}


.botao-vizu {
  background-color: #D3A95B;
  border: none;
  color: white;

  display: block; /* Essencial para que margin: auto funcione */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 10px 20px;

  width: 300px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

.botaoindex{
  background-color:#D3A95B;
  color: white;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.botao-cadastrar{
  background-color: #D3A95B;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.botao-curtir{
  background-color: #D3A95B;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;

  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.publico{
  background-color:#D3A95B;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  width: 60px;
  height:25px;
  margin-top: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
}

.carousel-inner {
    height: 500px;
    width: 700px;
    object-position: center;    
     border-radius: 12px;
     max-width: 900px;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
  overflow: hidden;
}


.fundo-home{
  background-color: #EFE0C4;
}


footer {
  max-height: 100px;
  margin-top: auto;

}

.imagem-postagem {
  border-radius: 20px; 
  width: 500px;
}

.foto-perfil{
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%; 
  width: 90px;
  height: 65px;
}

