

.rodape {
    position: fixed;
}

.nav-item {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgb(245, 200, 200);
}

.nav-link {
  border-radius: 10px;
}
.tamanho {
  width: 20;
}
.navbar-brand{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
   margin-right: 100px;


}

.boton{
  background-color: rgb(143, 111, 111);
  color: rgb(255, 251, 251);
  border-radius: 10px;
  padding: 10px 10px;
}

.display-4{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  color: #A7B075;
  text-align: center;
  margin-top: 5px;
}

.link{
 color: #A7B075;

}

.botaologin{
  background-color: #A7B075;
  color: rgb(255, 251, 251);
  border-radius: 10px;
  padding: 8px 8px;
}

.logo {
  top: 15;           /* Topo da página */
  left: 220px;          /* Esquerda da página */
  width: 60px;     /* Ajuste o tamanho conforme necessário */
  height: 60px;     /* Mantém a proporção */
  z-index: 1000;    /* Garante que fique acima de outros elementos */



  
}

.botao-adicionar {
  background-color: #D3A95B;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  
}


.botao-vizu {
  background-color: #7b815b;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  
}

.botaoindex{
  background-color:#7b815b;
  color: white;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


    .carousel-slide{
      width: 600px;   /* 🔸 Tamanho do carrossel (largura) */
      height: 350px;  /* 🔸 Tamanho do carrossel (altura) */
      overflow: hidden;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
     object-fit: cover;
    
    
    }

 

.carousel-control-prev-icon-bg:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/></svg>");
.carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/></svg>");

 